@import '../../variables';

.category {
  width: 80%;
  border: solid $soft-border 1px;
  padding-bottom: 20px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.20);
}

.cat-name {
  color: $red;
  margin: 20px 30px 0px 30px;
  // margin: 20px 30px;
}

.item {
  border: solid $soft-border 1px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.20);
  margin: 30px 30px 0px 30px;
}

.title {
  background-color: $light-blue;
  color: $navy;
  text-align: center;
  padding: 10px;
  margin: 0px;
    &:hover {
      background-color: $light-blue-hover;
      cursor: pointer;
    }
}

.paragraph {
  margin: 15px 30px 15px 30px;
  color: $type;
}


