@import '../../variables';

.App {
  background-color: $white;
}

.header {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0px 20px;
}

.header-link {
  text-decoration: none;
}

.logo {
  color: $blue;
  font-family: 'Anton';
  margin: 0px;
  font-size: 2.5rem;
}

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.footer {
  color: $type;
  text-align: center;
}

.loc-btn {
  background-color: $light-blue;
  padding: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  border: none;
  color: $white;
  height: 30px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
   &:hover {
     background-color: $light-blue-hover;
   }
   &:focus {
     outline: none;
   }
}

