$red: rgb(240, 64, 77);
$red-hover: rgb(240, 99, 109);
$blue: 	rgb(1, 90, 170);
$blue-hover: rgb(24, 121, 206);
$light-blue: #02acf0;
$light-blue-hover: #4ac6f7;
$white: rgb(248, 248, 248);
$navy: rgb(40, 37, 94);	
$type: rgb(55, 62, 68);
$black: rgb(0, 0, 0);
$orange: rgb(249, 180, 24);
$yellow: rgb(254, 223, 106);
$soft-border: #e0e0e0;